<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
<title>帖子列表</title>
{{template "admin/html-head.html" .}}
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
{{template "admin/html-header.html" .}}
    <!-- Left side column. contains the logo and sidebar -->
{{template "admin/html-aside.html" .}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                帖子列表
                <small>moment tables</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div>
                            <div class="col-xs-2">
                                <select class="form-control" id="reqType">
                                    <option value="1">全服热点</option>
                                    <option value="0">个人空间</option>
                                    <option value="3">话题</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">玩家ID</span>
                                    <input type="text" class="form-control" name="roleID">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">主题ID</span>
                                    <input type="text" class="form-control" name="topicID">
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <button id="search" class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="articlelist" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>玩家ID</th>
                                    <th>玩家姓名</th>
                                    <th>话题</th>
                                    <th>内容</th>
                                    <th>热门</th>
                                    <th>评论</th>
                                    <th>评论数</th>
                                    <th>点赞数</th>
                                    <th>发表时间</th>
                                    <th width="120px">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{/*<tr><td></td></tr>*/}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    {{template "admin/html-control-sidebar.html"}}
    <!-- /.Control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- 弹窗内容-->

<!-- /弹窗内容-->

<!-- REQUIRED JS SCRIPTS -->
{{template "admin/html-js.html"}}
<!-- /REQUIRED JS SCRIPTS -->

<!-- page script -->
<script type="text/javascript">
    $(function() {
        //列表
        var articlelist = $('#articlelist').DataTable({
            language: {
                processing: "数据加载中……",
                zeroRecords: "No records to display"
            },
            paging: true,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: true,
            autoWidth: false,
            serverSide: true,
            processing: true,
            ajax: function (data, callback, settings) {
                var postData = {
                    draw: data.draw,
                    perPage: data.length,
                    start: data.start,
                    type: $("#reqType option:selected").val(),
                    roleID: $("input[name=roleID]").val(),
                    topicID: $("input[name=topicID]").val()
                };
                $.ajax({
                    url: '/admin/articles-list',
                    type: 'GET', //GET
                    data: postData,
                    timeout: 5000,    //超时时间
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    beforeSend: function (xhr) {
                        console.log('发送前')
                    },
                    success: function (res, textStatus, jqXHR) {
                        if(res.code == 1){
                            layer.msg(res.msg, {icon: 5});
                            return
                        }
                        var dtData = {
                            recordsTotal: res.data.total,
                            recordsFiltered: res.data.total,
                            data: res.data.result,
                            draw: res.data.draw
                        };
                        callback(dtData);
                    },
                    error: function (xhr, textStatus) {
                        console.log('错误')
                    },
                    complete: function () {
                        console.log('结束')
                    }
                })
            },
            rowId: 'StMoment.UllMomentID',//自动设置行id
            columns: [
                {data: 'StMoment.UllMomentID'},
                {data: 'StMoment.UllRoleID'},
                {data: 'StMoment.SzRoleName'},
                {
                    data: 'StMoment.UllTopicID',
                    render: function (data, type, row) {
                        return data == null ? "0" : data;
                    }
                },
                {data: 'StMoment.SzContent'},
                {
                    data: 'StMoment.BIsHot',
                    render: function (data, type, row) {
                        return data == null ? "N" : "Y";
                    }
                },
                {
                    data: 'AstComment',
                    render: function (data, type, row) {
                        if (data == null){
                            return "<li>暂无评论</li>"
                        }

                        var str =   '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-defalut dropdown-toggle" aria-expanded="false">' +
                                    '最新评论' +
                                    '<span class="caret"></span></button>' +
                                    '<ul class="dropdown-menu">';
                        for(i in data){
                            str += '<li><a href="#">'+ data[i].SzRoleName + ':' + data[i].SzContent + '</a></li>';
                        }

                        str +=  '<li class="divider"></li>' +
                                '<li><a href="#">查看更多</a></li>' + 
                                '</ul></div>';
                        return str;
                        
                    }
                },
                {
                    data: 'DwTotalCommentNum',
                    render: function (data, type, row) {
                        return data == null ? 0 : data
                    }
                },
                {
                    data: 'DwTotalLikeNum',
                    render: function (data, type, row) {
                        return data == null ? 0 : data
                    }
                },
                {
                    data: 'StMoment.DwTime',
                    render: function (data, type, row) {
                        var date = new Date(data*1000 + 8 * 3600 * 1000);
                        var t = date.toJSON().substr(0, 19).replace('T', ' ').replace(/-/g, '.');
                        return t
                    }
                },
                {
                    render: function (data, type, row) {
                        var html = '<a class="J-update" href="/admin/article-edit-route/'+row.id+'">编辑</a>'
                        return html;
                    }
                }
            ],
            "createdRow": function( row, data, dataIndex ) {
                 //有了DT_RowId属性就会自动添加id到行上,不需要在此操作，可以做其他事
                $(row).data("userName", data.userName);
            }
        });
        //删除
        $("#articlelist").on("click", ".J-delete", function () {
            var id = $(this).closest("tr").attr("id");
            if (confirm("确定删除？")) {
                $.ajax({
                    url: '/admin/articles/delete',
                    type: 'post', //GET
                    async: true,    //或false,是否异步
                    data: {
                        userId: id
                    },
                    timeout: 5000,    //超时时间
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    beforeSend: function (xhr) {
                        console.log('发送前')
                    },
                    success: function (data, textStatus, jqXHR) {
                        if (data.code == 1){
                            layer.msg(data.msg, {icon: 5});
                            return
                        }
                        layer.msg("删除成功！", {icon: 6});
                        articlelist.ajax.reload();
                    },
                    error: function (xhr, textStatus) {
                        console.log('错误')
                    },
                    complete: function () {
                        console.log('结束')
                    }
                })
            }
        });
    
        $('#search').on("click",function(){
            articlelist.ajax.reload();
        })
    })
</script>
</body>
</html>