<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1582983794793&di=cf76dcd4b7076650f3dc49709d9f93bd&imgtype=0&src=http%3A%2F%2Fimg.25pp.com%2Fuploadfile%2Fapp%2Ficon%2F20160803%2F1470193694736238.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{.username}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="/admin/">
          <i class="fa fa-dashboard"></i> <span>首页</span>
        </a>
      </li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>用户管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li><a href="/admin/user-add"><i class="fa fa-circle-o text-aqua"></i>添加用户</a></li>
          <li><a href="/admin/user-list-route"><i class="fa fa-circle-o text-aqua"></i>用户列表</a></li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-user-secret"></i>
          <span>官方账号管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li><a href="official-add-route"><i class="fa fa-circle-o text-aqua"></i>添加账号</a></li>
          <li><a href="official-list-route"><i class="fa fa-circle-o text-aqua"></i>账号列表</a></li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-file-text-o"></i>
          <span>主题管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li><a href=""><i class="fa fa-circle-o text-aqua"></i>新增主题</a></li>
          <li><a href=""><i class="fa fa-circle-o text-aqua"></i>主题列表</a></li>
        </ul>
      </li> 
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>帖子管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li><a href="/admin/article-route"><i class="fa fa-circle-o text-aqua"></i>发表帖子</a></li>
          <li><a href="/admin/articles-route"><i class="fa fa-circle-o text-aqua"></i>帖子列表</a></li>
        </ul>
      </li> 
      <li>
        <a href="/admin/job-count">
          <i class="fa fa-dashboard"></i> <span>工作数量统计</span>
          <span class="pull-right-container"><small class="label pull-right bg-green">0</small></span>
        </a>
      </li>
      <li>
        <a href="/admin/logs-route">
          <i class="fa fa-list-alt"></i> <span>登录日志</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>